$c-nav-bar: rgba(44, 62, 78, 1.0);
$c-secondary: #dad8de;
// @import 'yoga-sass/assets/yoga';
// @import 'normalize-css/normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome/scss/font-awesome';
@import 'box-sizing';
@import 'nav-bar';
@import 'left-side';
@import 'right-side';

body {
  margin: 0;
}

* {
  border: 1rem;
}

.full-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
}

.section {
  display: flex;
  margin-top: 2rem;
}
