.nav-bar {
  width: 100%;
  margin: 0;
  background: $c-nav-bar;
  display: flex;
  flex-grow: 1;
  box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.4);

}

.marvel_logo-image {
  width: 7rem;
  height: 2rem;
  margin-left: 10rem;
  margin-top: .8rem;

}

.search_bar {
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  margin-left: 40rem;


  &-input {
    width: 100%;
    background-color: $c-secondary;
    box-shadow: $c-nav_bar 0 0 0 0 inset;
    color: $c-secondary;
    border-top: .1rem solid $c-nav_bar;
    border-bottom: .1rem solid $c-nav_bar;
    border-right: .1rem solid $c-nav_bar;
    border-left: none;
    font-size: .6em;
    padding-left: .5rem;
  }
}

.fa-search {
  color: $c-nav-bar;
  background-color: $c-secondary;
  border-left: .1rem solid $c-nav-bar;
  border-top: .1rem solid $c-nav-bar;
  border-bottom: .1rem solid $c-nav-bar;
  padding: .3rem;

}
