.section_right {
  width: 75%;
  // margin-left: 3rem;

  &--titles {
    color: $c-font-color;
    border-bottom: 0.1rem solid $c-font-color;
    font-family: bangers;
    width: 100%;

  }
}

.comic_collection {
  &-button {
    background: $c-primary;
    color: #fff;
    border-radius: 0.4rem;
    padding: 0.5rem 0.8rem;
    border: none;
}
}

.comic_collection-images {
      width: 8rem;
      height: 9rem;
      box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.4);
      border-radius: 0.4rem;

    }

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem;

  &__item {
    flex-basis: calc(100% / 3 - 1rem - 1rem);
    flex-grow: 1;

  }
}

.characters_collection {
  margin: 0;
  width: 100%;

&-image {
  width: 5rem;
  height: 5rem;
  box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.4);
  border-radius: 0.4rem;
  margin-right: 4rem;
  margin-bottom: 1rem;
}
}
